<h1>vraag 1</h1>
<div class="quiz">
    <div>
        <div>
            <h3>voorbeeld van een vraag?</h3>
        </div>
        <form method="post" action="/quiz">
        <div class="answer-option">
            <input type="radio" id="answer1" name="answer" value="answer1">
            <label for="answer1">Antwoord 1</label>
        </div>
        <div class="answer-option">
            <input type="radio" id="answer2" name="answer" value="answer2">
            <label for="answer2">Antwoord 2</label>
        </div>
        <div class="answer-option">
            <input type="radio" id="answer3" name="answer" value="answer3">
            <label for="answer3">Antwoord 3</label>
        </div>
        <div class="answer-option">
            <input type="radio" id="answer4" name="answer" value="answer4">
            <label for="answer4">Antwoord 4</label>
        </div>
        <div>
        </form>
            <button class="vorige"><</button>
            <button class="volgende">></button>
        </div>
        </div>
    <div>
        
    </div>
    <img src="images/leeg-biertje.png" alt="">

</div>

