<!DOCTYPE html>
<html lang="nl">
    <%- include('partials/head'); %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inloggen</title>
</head>
<body>
    </header>
        <%- include('partials/header'); %>
    </header>
    <main>
<div class="loginContainer">
    <h1>Inloggen</h2>

    <h2>Log in of maak een profiel aan om biertjes op te slaan!</h2>

    <% if (foutmelding) { %>
        <div class="foutmelding"><%- foutmelding %></div>
        <% } %>    

    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Gebruikersnaam" required>
        <input type="password" name="password" placeholder="Wachtwoord" required>
        <button type="submit">Inloggen</button>
    </form>

    <p>Nog geen account? <a href="https://localhost:8443/registreren">Registreren</a></p>
</div>
</main>
<footer>
<%- include('partials/footer'); %>
</footer>
</body>
</html>